.Main {

  background-color: #282c34;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header {
  
  text-align: center;
  vertical-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: fadeIn 5s;
}

.Form {

  padding-bottom: 200px;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: fadeIn 5s;
}

@keyframes fadeIn {

  0% {opacity: 0;}
  100% {opacity: 1;}
}

.Header {

  font-size: calc(10px + 2vmin);
  color: white;
}

.Error {

  color: red;
}

button {

  width: 500px;
  height: 100px;
  background-color: rgb(125, 0, 0);
  color: black;
}

button:hover {

  background-color: red;
  box-shadow: 0px 0px 10px 15px rgb(200, 0, 0);
}